---
const { title } = Astro.props;
import Navbar from "../components/Navbar.svelte";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title} | Music Group</title>
  </head>

  <body>
    <!-- Use Svelte-based Navbar from /src/components/Navbar.svelte -->
    <Navbar client:load />

    <!-- Main content -->
    <main class="main">
      <slot />
    </main>
  </body>
</html>
