---
import Navbar from "../components/global/Navbar.svelte";
import Footer from "../components/global/Footer.astro";
import "../styles/global.css";

import VercelSpeedInsights from "@vercel/speed-insights/astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <meta name="robots" content="noindex, nofollow" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title} | Ragapuspa</title>
  </head>

  <body>
    <Navbar styleVariant="default" client:load />

    <!-- Main content -->
    <main>
      <slot />
    </main>
    <VercelSpeedInsights />
  </body>
  
  <Footer />
</html>
