---
const { title } = Astro.props;
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title} | Ragapuspa</title>
  </head>
  <body>
    <header class="site-header">
      <nav class="navbar">
        <!-- Left aligned section -->
        <div class="nav-left">
          <a href="/">Ragapuspa</a>
        </div>

        <!-- Right aligned section -->
        <div class="nav-right">
          <a href="/about">About</a>
          <span class="separator">.</span>
          <a href="/music">Music</a>
          <span class="separator">.</span>
          <a href="/contact-us">Contact Us</a>
        </div>
      </nav>
    </header>

    <!-- Main content -->
    <main class="main">
      <slot />
    </main>

    <script src="/scripts/detectScroll.js" defer></script>
  </body>
</html>
