---
import BaseLayout from "../layouts/BaseLayout.astro"

const title = "About Page"
---

<BaseLayout title={title}>
    <h1>{title}</h1>
    <a href="/">Ke home page</a>
    <div style="height: 2000px;"></div>
</BaseLayout>
