---
import AlbumLayout from "../layouts/AlbumLayout.astro";

const title = "Album 1";
---
<AlbumLayout title={title}>
    <h1>{title}</h1>
    <h1>Ini album page</h1>
    <div style="height: 2000px;"></div>
</AlbumLayout>