---
import AlbumLayout from "../layouts/albumLayout.astro";
import "../styles/album1.css";

const title = "Album 1";
---
<AlbumLayout title={title}>
    <h1>{title}</h1>
    <h1>Ini page untuk album kita</h1>
    <div style="height: 2000px;"></div>
</AlbumLayout>