---
import BaseLayout from "../layouts/BaseLayout.astro";
import GalleryImages from "../components/GalleryImages.svelte";
import urls from "../data/gallery_items.json";  // File generated from either "npm run build" or "npm run generate-gallery".

const title = "Gallery";
---

<BaseLayout title={title}>
  <div style="height:6vh"></div>
  <div class="gallery-title" style="font-size: 2rem;">
    <h1>Gallery</h1>
  </div>
  <GalleryImages urls={urls} client:load />
</BaseLayout>
