---
import BaseLayout from "@layouts/BaseLayout.astro";

// import AlbumPromoScreen from "@components/index/AlbumPromoScreen.svelte";
import SplitText from "@components/index/SplitText.svelte";

const title = "Home";
---

<BaseLayout title={title}>
  <section class="hero">
    <div class="hero-video-wrapper">
      <video class="hero-video" autoplay muted loop crossorigin="anonymous">
        <source
        src="https://res.cloudinary.com/djow2j0qk/video/upload/v1765122068/Shizuha_Loop_g6tx38.webm"
        type="video/webm"
        />
      </video>
      <div class="hero-overlay" />
      <div class="hero-caption">
        <SplitText text="Ragapuspa" client:load />
      </div>
      <div class="music-button-container">
        <a class="music-button" href="/music">Music</a>
      </div>
    </div>

    <div class="hero-slogan">
      <h2>Like-minded creative people create together.</h2>
    </div>
    <div class="hero-description">
      <p>
        We are a creative group from Indonesia that consists of skilled artists
        from multiple disciplines such as music, art, animation, and web design.
      </p>
    </div>
  </section>
  <a href="/album1">Album 1 Page</a>

  <div style="height: 500px;"></div>
  <!-- <AlbumPromoScreen client:load /> -->
</BaseLayout>

<style>
  .hero {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-video-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
  }

  .hero-video {
    width: 100%;
    height: auto;
    max-height: 100vh;
    object-fit: cover;
    object-position: center;
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
  }

  .hero-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    pointer-events: none;
  }

  .hero-caption {
    position: absolute;
    display: block;
    color: rgb(255, 255, 255);
    z-index: 10;
    font-family: "Zen Maru Gothic", sans-serif;
    font-size: 9rem;
    font-style: normal;
    text-shadow: 6px 4px 9px black;
    line-height: 1;
    transform: translateY(-15vh);
  }

  .music-button-container {
    transform: translateY(15vh);
    position: absolute;
    opacity: 0;
    animation: fadeIn 1.5s ease forwards;
    animation-delay: 2.5s;
  }

  .music-button {
    display: block;
    background-color: rgba(255, 255, 255, 1);
    backdrop-filter: invert(0%);
    border-radius: 8px;
    font-size: 3rem;
    padding: 1rem;
    line-height: 1;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }

  .music-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: invert(30%);
    color: rgb(255, 255, 255);
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  .hero-title,
  .hero-slogan,
  .hero-description {
    text-align: left;
    width: 100%;
    max-width: 960px;
    margin: 1rem auto;
    padding: 0 1rem;
  }

  @media (max-width: 1024px) {
    .hero-video-wrapper {
      width: 100%;
      height: 100vh;
      overflow: hidden;
    }

    .hero-video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .hero-caption {
      transform: translateY(-15vh);
      font-size: 8rem
    }

    .hero-slogan,
    .hero-description {
      font-size: larger;
    }

    .music-button {
      transform: translateY(10vh);
      font-size: 4rem;
    }

    .music-button-container {
      transform: translateY(5vh);
    }
  }

  @media (max-width: 767px) {
    .hero-caption {
      font-size: 4rem;
    }

    .music-button {
      transform: translateY(0vh);
      font-size: 2rem;
    }
  }
</style>
