---
import BaseLayout from "../layouts/BaseLayout.astro"
import AlbumPromoScreen from "../components/AlbumPromoScreen.svelte"

const title = "Home Page";
---
<BaseLayout title={title}>
    <h1>{title}</h1>
    <h2>kfn yh kita bisa terkenal</h2>
    <a href="/about">About Page</a>
    <a href="/album1">Album 1 Page</a>

    <div style="height: 2000px;"></div>
    <AlbumPromoScreen client:load />
</BaseLayout>