---
import BaseLayout from "../layouts/BaseLayout.astro";
import AlbumPromoScreen from "../components/AlbumPromoScreen.svelte";

const title = "Home";
---

<BaseLayout title={title}>
  <section class="hero">
    <div class="hero-image-wrapper">
      <img
        class="hero-image"
        src="https://res.cloudinary.com/djow2j0qk/image/upload/w_1920,f_webp,q_auto:eco/v1749816121/hd_baum_nareko_wfc1cx.png"
        alt="Hero"
      />
      <div class="hero-caption">Welcome to Ragapuspa</div>
    </div>

    <div class="hero-title" style="font-size: 2rem;">
      <h1>Ragapuspa</h1>
    </div>
    <div class="hero-slogan">
      <h2>Like-minded creative people create together.</h2>
    </div>
    <div class="hero-description">
      <p>
        We are a creative group from Indonesia that consists of skilled artists
        from multiple disciplines such as music, art, animation, and web design.
      </p>
    </div>
  </section>
  <a href="/album1">Album 1 Page</a>

  <div style="height: 500px;"></div>
  <AlbumPromoScreen client:load />
</BaseLayout>

<style>
  .hero {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-image-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .hero-image {
    width: 100%;
    height: auto;
    max-height: 100vh;
    display: block;
    object-fit: cover;
    object-position: center;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  .hero-caption {
    position: absolute;
    bottom: 50px;
    right: 20px;
    color: rgb(255, 255, 255);
    padding: 0.5rem 1rem;
    font-size: 4rem;
    border-radius: 8px;
    z-index: 10;
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-shadow: 6px 4px 9px black;
  }

  /* Texts below the hero image */
  .hero-title,
  .hero-slogan,
  .hero-description {
    text-align: left;
    width: 100%;
    max-width: 960px;
    margin: 1rem auto;
    padding: 0 1rem;
  }

  @media (max-width: 768px) {
    .hero-image-wrapper {
      width: 100%;
      height: 100vh;
      overflow: hidden;
    }

    .hero-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 30% center;
    }

    .hero-caption {
      font-size: 3rem;
      right: 5%;
      bottom: 50px;
    }

    .hero-slogan,
    .hero-description {
      font-size: larger;
    }
  }
</style>
