---
import BaseLayout from "../layouts/BaseLayout.astro";

import Wheel from "../components/music_page/Wheel.svelte";
import BackgroudImage from "../components/music_page/BackgroundImage.svelte";
import PlaybackButton from "../components/music_page/PlaybackButton.svelte";
import AudioPlayer from "../components/music_page/AudioPlayer.svelte";

import cards from "../data/cards.json";

const title = "Music";
---

<BaseLayout title={title}>
  <section class="music-selector">
    <BackgroudImage client:idle />
    <div class="left-container">
      <h2 class="release-title">A Song Title</h2>
      <p class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
      <ul class="credits">
        <li>Album:</li>
        <li>Arranger:</li>
        <li>Original:</li>
        <li>Artwork:</li>
      </ul>
      <div class="hyperlinks"></div>
    </div>

    <div class="playback-container">
      <PlaybackButton client:visible />
    </div>

    <div class="right-container">
      <Wheel client:idle cards={cards} />
      <AudioPlayer client:idle />
    </div>
  </section>
</BaseLayout>

<style>
  .music-selector {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(54, 54, 54);
  }

  .left-container {
    color: white;
    position: relative;
    width: 70%;
    padding: 2%;
    background: black;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.6) 50%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .playback-container {
    z-index: 1;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .right-container {
    position: relative;
    width: 60vw;
    right: 0px;
    height: 100%;
    overflow-y: scroll;
    padding-left: 1rem;
  }

  .release-title {
    padding-top: 5%;
    font-size: 70px;
    letter-spacing: -4px;
    font-size: clamp(3rem, 1.25vw, 8rem);
  }

  .description {
    padding-top: 10%;
    padding-right: 20%;
    font-size: clamp(1rem, 1.25vw, 3rem);
  }

  .credits {
    list-style: none;
    padding-top: 50px;
    margin-bottom: auto;
  }
</style>
