---
import MusicDescription from "./MusicDescription.svelte";
---

<div class="desc-container" id="desc">
  <div class="hide-button-container">
    <button
      id="hideBtn"
      style="width:100%; height:10%;"
      aria-label="Hide Description Button"
    >
    </button>
  </div>
  <MusicDescription client:visible />
</div>

<script is:inline>
  const MOBILE_WIDTH = 768;
  let isMobile = window.innerWidth <= MOBILE_WIDTH;

  // Hidden by default on mobile, visible on desktop
  let isHidden = isMobile;

  function transformDescContainer(hidden, mobile) {
    if (mobile) return hidden ? "translateY(90%)" : "translateY(0%)";
    return hidden ? "translateX(-90%)" : "translateX(0%)";
  }

  function applyUI(descContainer, hideButton) {
    descContainer.style.transform = transformDescContainer(isHidden, isMobile);
    hideButton.classList.toggle("hidden", isHidden);
  }

  const hideButton = document.getElementById("hideBtn");
  const descContainer = document.getElementById("desc");

  // Initial UI rendering
  applyUI(descContainer, hideButton);

  hideButton.addEventListener("click", () => {
    isHidden = !isHidden;
    applyUI(descContainer, hideButton);
  });
  
  window.addEventListener("resize", () => {
    const newIsMobile = window.innerWidth <= MOBILE_WIDTH;

    if (newIsMobile !== isMobile) {
      isMobile = newIsMobile;
      applyUI(descContainer, hideButton);
    }
  });
</script>

<style>
  .desc-container {
    background: #020024;
    background: linear-gradient(
      90deg, 
      rgba(0, 0, 0, 0.85) 70%, 
      rgba(25, 25, 36, 0.8) 85%, 
      rgba(87, 87, 87, 0.3) 100%);
    display: flex;
    color: white;
    position: relative;
    width: 100%;
    height: auto;
    justify-content: space-between;
    overflow: hidden;
    transition: transform 0.3s ease;
    padding-right: 5%;
    flex-direction: row;
  }

  .hide-button-container {
    display: flex;
    align-items: center;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 100;
  }

  #hideBtn {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-color: transparent;
    border: none;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100%;
    background-color: white;
    transition: 0.2s ease;
  }

  #hideBtn:hover {
    cursor: pointer;
  }

  #hideBtn.hidden {
    mask-image: url("/icons/arrow.svg");
    transform: scaleX(1);
  }

  #hideBtn:not(.hidden) {
    mask-image: url("/icons/arrow.svg");
    transform: scaleX(-1);
  }

  @media screen and (min-width: 768px) {
    .hide-button-container {
      width: 10%;
      height: 100%;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  }

  @media screen and (max-width: 768px) {
    .desc-container {
      width: 100%;
      height: 100%;
      flex-direction: column;
      padding-right: 0%;
      background: linear-gradient(
        360deg,
        rgba(0, 0, 0, 0.7) 90%,
        rgba(255, 255, 255, 0) 100%
      );
    }

    .hide-button-container {
      align-items: baseline;
      width: 100%;
      height: 50%;
    }
  }
</style>
