---
import BaseLayout from "@layouts/BaseLayout.astro";
import { Image } from "astro:assets";

const imageFiles = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/gallery/*.{jpg,jpeg,png,webp,gif}",
  { eager: true },
);

const images = Object.entries(imageFiles);
---

<BaseLayout title="Gallery">
  <div style="height:6vh"></div>
  <div class="text-2xl">
    <h1>Gallery</h1>
  </div>

  <div class="columns-1 md:columns-2 lg:columns-3 gap-6 ...">
  {
    images.map(([filePath, mod], index) => {
      const { width, height } = mod.default;
      const aspectRatio = width / height;

      return (
        <div 
          class="break-inside-avoid mb-6 rounded-[20px] bg-gray-100 overflow-hidden"
          style={{ aspectRatio: `${aspectRatio}` }} 
        >
          <Image
            src={mod.default}
            width={600}
            alt="Gallery Image"
            class="w-full h-auto block"
            loading={index < 4 ? "eager" : "lazy"}
            decoding="async"
            quality="low"
          />
        </div>
      );
    })
  }
</div>

  <style>
    .columns-1 {
      column-count: 1;
      margin-bottom: 1%;
      margin-left: 5px;
      margin-right: 5px;
    }
    @media (min-width: 768px) {
      .md\:columns-2 {
        column-count: 2;
      }
    }
    @media (min-width: 1024px) {
      .lg\:columns-3 {
        column-count: 4;
      }
    }

    .columns-1 img,
    .md\:columns-2 img,
    .lg\:columns-3 img {
      border-radius: 30px;
      display: block;
      width: 100%;
      height: auto;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  </style>
</BaseLayout>
