---
import BaseLayout from "@layouts/BaseLayout.astro";
import GalleryImages from "@components/gallery/GalleryImages.svelte";
import getGalleryItems from "@scripts/generate-gallery-v2";

const config = {
  s3Client: {
    bucket: import.meta.env.S3_BUCKET,
    folderPrefix: import.meta.env.S3_FOLDER_PREFIX,
    endpoint: import.meta.env.S3_ENDPOINT,
    region: import.meta.env.S3_REGION,
    accessKey: import.meta.env.S3_ACCESS_KEY,
    accessSecret: import.meta.env.S3_ACCESS_SECRET,
  },
  cloudflareAccess: {
    clientId: import.meta.env.CF_CLIENT_ID,
    clientSecret: import.meta.env.CF_CLIENT_SECRET
  }
};

const allImages = await getGalleryItems(config);

const initialChunk = allImages.slice(0, 10);

const title = "Gallery";
---

<BaseLayout title={title}>
  <div style="height:6vh"></div>
  <div class="gallery-title" style="font-size: 2rem;">
    <h1>Gallery</h1>
  </div>
  <GalleryImages client:idle initial={initialChunk} allImages={allImages} />
</BaseLayout>
