---
import BaseLayout from "@layouts/BaseLayout.astro";
import GalleryImages from "@components/gallery/GalleryImages.svelte";
import getGalleryItems from "@scripts/generate-gallery";
import type { CloudinaryConfig } from "@scripts/cdn-urls-fetcher";

const requiredEnvVars = [
  "CLOUDINARY_CLOUD_NAME",
  "CLOUDINARY_API_KEY",
  "CLOUDINARY_API_SECRET",
  "CLOUDINARY_FOLDER_GALLERY",
  "CLOUDINARY_FOLDER_MUSIC_TRACKS",
  "CLOUDINARY_FOLDER_MUSIC_ARTWORKS",
];

requiredEnvVars.forEach((name) => {
  if (!process.env[name]) 
    throw new Error(`Missing environment variable: ${name}.`);
});

const config: CloudinaryConfig = {
  cloudName: process.env.CLOUDINARY_CLOUD_NAME as string,
  apiKey: process.env.CLOUDINARY_API_KEY as string,
  apiSecret: process.env.CLOUDINARY_API_SECRET as string,
  galleryFolder: process.env.CLOUDINARY_FOLDER_GALLERY as string,
  musicFolder: process.env.CLOUDINARY_FOLDER_MUSIC_TRACKS as string,
  musicArtworksFolder: process.env.CLOUDINARY_FOLDER_MUSIC_ARTWORKS as string,
};

const allImages = await getGalleryItems(config);

const initialChunk = allImages.slice(0, 8);

const title = "Gallery";
---

<BaseLayout title={title}>
  <div style="height:6vh"></div>
  <div class="gallery-title" style="font-size: 2rem;">
    <h1>Gallery</h1>
  </div>
  <GalleryImages client:load initial={initialChunk} allImages={allImages} />
</BaseLayout>
