---
import BaseLayout from "@layouts/BaseLayout.astro";
import GalleryImages from "@components/gallery/GalleryImages.svelte";
import getGalleryItems from "@scripts/generate-gallery";
const { env } = Astro.locals.runtime;

const config = {
  cloudName: env.CLOUDINARY_CLOUD_NAME,
  apiKey: env.CLOUDINARY_API_KEY,
  apiSecret: env.CLOUDINARY_API_SECRET,
  galleryFolder: env.CLOUDINARY_FOLDER_GALLERY,
  musicFolder: env.CLOUDINARY_FOLDER_MUSIC_TRACKS,
  musicArtworksFolder: env.CLOUDINARY_FOLDER_MUSIC_ARTWORKS,
};

const allImages = await getGalleryItems(config);

const initialChunk = allImages.slice(0, 8);

const title = "Gallery";
---

<BaseLayout title={title}>
  <div style="height:6vh"></div>
  <div class="gallery-title" style="font-size: 2rem;">
    <h1>Gallery</h1>
  </div>
  <GalleryImages client:load initial={initialChunk} allImages={allImages} />
</BaseLayout>
