---
import BaseLayout from "@layouts/BaseLayout.astro";
import GalleryImages from "@components/gallery/GalleryImages.svelte"

import allImages from "@data/gallery_items.json";
const initialChunk = allImages.slice(0, 8);

const title = "Gallery";
---

<BaseLayout title={title}>
  <div style="height:6vh"></div>
  <div class="gallery-title" style="font-size: 2rem;">
    <h1>Gallery</h1>
  </div>
  <GalleryImages client:load initial={initialChunk} />
</BaseLayout>
