* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: clamp(16px, 1.2vw, 20px);
}

h1 {
  font-size: clamp(2rem, 4vw, 3rem);
  font-weight: 700;
  font-style: normal;
  padding-bottom: 1rem;
}

h2 {
  font-size: clamp(1.5rem, 3vw, 2.25rem);
  font-weight: 700;
  font-style: normal;
  padding-bottom: 0.5rem;
}

h3 {
  font-size: clamp(1.25rem, 2.5vw, 1.75rem);
  padding-bottom: 0.5rem;
}

p {
  font-size: clamp(1rem, 1.5vw, 1.75rem);
}

main {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
