---
import MusicLayout from "@layouts/MusicLayout.astro";

import Wheel from "@components/music/Wheel.svelte";
import BackgroudImage from "@components/music/BackgroundImage.svelte";
import PlaybackButton from "@components/music/PlaybackButton.svelte";
import AudioPlayer from "@components/music/AudioPlayer.svelte";
import MusicDescriptionWrapper from "@components/music/MusicDescriptionWrapper.astro";

import musicCards from "@data/cards.json";
import type { CardData } from "@stores/selectedCard.ts";

const { song } = Astro.params;

export async function getStaticPaths() {
  return (musicCards as CardData[]).map((card) => {
    return { params: { song: card.slug } };
  });
}
---

<MusicLayout>
  <section class="music-selector">
    <BackgroudImage client:idle />
    <MusicDescriptionWrapper />

    <div class="playback-container">
      <PlaybackButton client:visible />
    </div>

    <div class="wheel-container">
      <Wheel client:load initialSongSlug={song} />
    </div>

    <AudioPlayer client:idle />
  </section>
</MusicLayout>

<style>
  .music-selector {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .playback-container {
    z-index: 1;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .wheel-container {
    position: relative;
    width: 80%;
    right: 0px;
    overflow-y: scroll;
    padding-left: 1rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .wheel-container::-webkit-scrollbar {
    display: none;
  }

  @media screen and (min-width: 768px) {
    .hide-button {
      width: 10%;
      height: 100%;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  }

  @media screen and (max-width: 768px) {
    .music-selector {
      flex-direction: column;
    }

    .desc-container {
      width: 100%;
      height: 100%;
      flex-direction: column;
      padding-right: 0%;
      background: linear-gradient(
        360deg,
        rgba(0, 0, 0, 0.7) 90%,
        rgba(255, 255, 255, 0) 100%
      );
    }

    .playback-container,
    .wheel-container {
      display: none;
      visibility: hidden;
    }
  }
</style>
