---
import Navbar from "@components/global/Navbar.astro";
import Footer from "@components/global/Footer.astro";

import { ClientRouter } from "astro:transitions";

import "@styles/global.css";

export interface Props {
  title: string;
  showFooter?: boolean;
}

const { title = "Page", showFooter = true } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="robots" content="noindex, nofollow" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title} | Ragapuspa</title>
    <ClientRouter />
  </head>

  <body>
    <Navbar transition:persist />
    <main>
      <slot />
    </main>
    {showFooter && <Footer transition:persist />}
  </body>
</html>
